body {
    text-align: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

input {
    font-size: 18px;
    padding: 8px;
    margin-bottom: 10px; 
}

button {
    font-size:18px ;
    padding: 10px 20px;
    cursor: pointer
}